body{
	background-color: #00BCD4;
}
/*Base*/
.center-container{
	border-radius: 4px;
	background-color: #FAFAFA;
	margin: 100px auto;
	max-width: 640px;
}
/*Base*/

/*Quote Bar*/
.quote-bar{
	border-bottom: none;
	border-radius: 2px;
	background-color: #0097A7;
	color: #FAFAFA;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
	margin-bottom: 50px;

}
.quote-bar *{
	font-weight: bold;
	padding: 5px;
	list-style: none;
	text-decoration: none;
	display: inline-block;
	margin: 0 auto;
}
.quote-bar *:hover{
	background-color: #11A8B8;
}
.center-quote{
	border-left: 1px solid #111111;
}
.undo{
	display: none;
}
/*Quote Bar*/

/*Quotes*/
.quotes-list{
	list-style: none;
	overflow: hidden;
}
.quotes-list *{
	overflow: hidden;
}

.quotes-list p{
	position: relative;
	top: 15px;
}

.quotes-list li:nth-child(odd){
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}
.quotes-list button{
	margin-top: 5px;
	border-radius: 20px;
	float: right;
}
.page-box{
	text-align: right;
}
.rate{
	position: relative;
	bottom: 10px;
	right: 10px;
	float: right;
}
.author{
	margin-left: 10px;
}
.author:hover{
	cursor: pointer;
}

.quote-box{
	position: relative;
	height: 609px;
	padding-right: 35px;

}
.page-box{
	position: absolute;
	bottom: 30px;
	right: 35px;
}
/*Quotes*/

/*Popups*/

.add-quote{
	display: none;
	max-width: 500px;
	max-height: 500px;
}

.random-quote{
	display: none;
}

/*Popups*/

/*Title*/


.title{
	color: #FAFAFA;
	position: relative;
	top: -160px;
	left: 0;
	-webkit-transform:rotate(-30deg);}

/*Title*/